fastapi
uvicorn[standard]

python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-groq
langgraph

SQLAlchemy
asyncpg
alembic

redis[hiredis]
arq


pytest
pytest-asyncio
httpx